<div class="header">
  <app-app-header [isMainPageVisible]="isMainPageVisible"
                  [isAboutUsPageVisible]="isAboutUsPageVisible"
                  [isContactPageVisible]="isContactPageVisible"
                  (onMainPageSelect)="showMainPage()"
                  (onAboutUsPageSelect)="showAboutUsPage()"
                  (onContactPageSelect)="showContactPage()"
  ></app-app-header>
</div>

<!-- <div class="header">
  <div class="main-menu">
    <div [class.active]="isMainPageVisible" (click)="showMainPage()">Главная</div>
    <div [class.active]="isAboutUsPageVisible" (click)="showAboutUsPage()">О нас</div>
    <div [class.active]="isContactPageVisible" (click)="showContactPage()">Контакты</div>
  </div>
</div> -->

<div class="main-layout">
  <app-main [isMainPageVisible]="isMainPageVisible"></app-main>
  <app-about-us [isAboutUsPageVisible]="isAboutUsPageVisible"></app-about-us>
  <app-contacts [isContactPageVisible]="isContactPageVisible"></app-contacts>
</div>

<div class="footer">
  <app-app-footer></app-app-footer>
</div>
